<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Kit Plummer" />
    <link href="/rss.xml" rel="alternate" type="application/rss+xml" title="Sitewide RSS Feed" />

    <!-- jquery -->
    <script type="text/javascript" src="/js/jquery/jquery.js"></script>

    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

    <!-- other js/css stuff -->
    <script type="text/javascript" src="/js/prototype.js"></script>
    <script type="text/javascript" src="/js/scriptaculous.js?load=effects,builder"></script>
    <script type="text/javascript" src="/js/lightbox.js"></script>
    <link rel="stylesheet" href="/css/lightbox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'cf6622e1-90b5-4e5a-8da2-b5b842239049'});</script>
  </head>
  <body>
    <div class="site">
      <div class="header">
        <a href="/rss.xml"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>
      </div>

      <div class="contact">

        <img src="http://www.gravatar.com/avatar/f1a41f00eac91827a1f46959ec99bc12?s=80" style="float:left; padding-right:10px; padding-top:3px">
        <p>
        <b>Kit Plummer</b><br/>
        Software Engineer :: Researcher :: Techitect :: Evangelist :: Advisor<br/>
        <a href="mailto:kitplummer@gmail.com">kitplummer@gmail.com</a><br/>
        </p>
      </div>

      <div class="content">
        {{ content }}
      </div>
      <div class="footer">
        <p>
        <a href="https://gtri.gatech.edu">Georgia Tech Research Institute</a> 
        </p>
        <p>
        <a href="https://github.com/kitplummer/">github.com/kitplummer</a> :: 
        <a href="https://linkedin.com/in/kitplummer">linkedin.com/in/kitplummer</a>
        </p>
      </div>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-2886473-4");
        pageTracker._trackPageview();
      } catch(err) {}</script>

  </body>
</html>


