<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Kit Plummer" />
   <link href="/rss.xml" rel="alternate" type="application/rss+xml" title="Sitewide RSS Feed" />

   <!-- jquery -->
   <script type="text/javascript" src="/js/jquery/jquery.js"></script>

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  
  <div class="title">
    <a href="/"><img src="/images/bcip.png" alt="BCIP logo" border="0"></a><br/>
    <a class="extra" href="/">Blog</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Kit Plummer<br/>
        Techitect/Evangelist<br/>
        kitplummer@gmail.com<br/>
	christopher.plummer@accenture.com<br/>
	kitplummer (AIM,Yahoo!IM,Gtalk)<br/>
	<a href="http://www.defensenews.com/story.php?i=4025069">Accenture National Security Services</a>
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/kitplummer/">github.com/kitplummer</a><br />
        <a href="http://twitter.com/kit_plummer/">twitter.com/kit_plummer</a><br />
        <a href="http://www.govloop.com/profile/KitPlummer">govloop.com/profile/kitplummer</a><br/>
        <a href="https://software.forge.mil/sf/projects/bcip">software.forge.mil/sf/projects/bcip</a>
        <a href="http://www.mil-oss.org/">mil-oss.org</a>
      </p>
    </div>
    <div class="rss">
      <a href="/rss.xml"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>
    </div>
  </div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2886473-4");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>


